/* Plugin Name: Search and Filter Pro styling for Travelator */
/* This is the static CSS file */

/* EXPERIMENTALs !! */

/* Hide the search box in drop-down lists for Select2 */
.select2-dropdown .select2-search.select2-search--dropdown {
    display: none;
}
/* Make the container fit the lists */
.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: block;
	overflow: initial;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 0 0 5px;
}
.searchandfilter>ul>li label {
	height: auto;
}
/* Styling taxonomy filters */
.search-and-filter {
    background-color: white;
    margin: 10px 0 20px 0;
}
.search-and-filter ul {
	margin: 0 0 0 12px;
}
.search-and-filter > .searchandfilter > ul > li {
	display: inline !important;
	margin: 0;
}
.searchandfilter > ul > li > label {
	border: 1px solid #ddd !important;
}
.searchandfilter > ul > li > label > select {
	border: 0px solid #ddd !important;
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection {
	border: 0;
	display: table;
	width: calc(100% - 10px) !important;
}
.searchandfilter > ul > li > label > .select2 {
	width: 100% !important;
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection > ul > li.select2-search > input.select2-search__field {
	position:absolute;
	background: none !important
}
.searchandfilter .select2-selection__rendered li.select2-selection__choice:nth-last-of-type(2) {
	margin-bottom: 5px !important;
}
.searchandfilter .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	background-color: #fbe9ee !important;
}
.search-and-filter .searchandfilter > ul > li > * {
    margin: 15px 0 15px 10px;
}
.search-and-filter .select2-selection {
	border-radius: 0;
	height: 37px;
}
.search-and-filter .select2-selection__rendered {
	margin: 4px;
	color: #888 !important;
}
.search-and-filter .select2-selection__arrow {
	display: none;
}
.searchandfilter>ul>li label {
	vertical-align: top;
}
.searchandfilter label {
	/* width: calc((100% / 6) - 12px); */ /* FARA buton de reset */
	width: calc((100% / 7) - 8px); /* varianta CU buton de reset */
	display: inline-block !important;
}
.searchandfilter select.sf-input-select {
    width: 100%;
	min-width: initial !important;
}
.searchandfilter .sf-input-select option {
	background-color: white;
}
.searchandfilter ul li input[type="submit"] {
    padding: 8px;
}
/* combobox with select2 */
.select2-selection li.select2-selection__choice {
  height: 19px;
  line-height: 19px;
}
/* end combo box with select2 */
div#content-box {
	padding-top: 5px !important;
}
#term {
    margin-left: 20px;
    margin-right: 20px;
}
/* ... and for mobiles .. */
@media (max-width: 1319px) {
	.searchandfilter label {
		width: calc(100% - 20px);
	}
	.search-and-filter ul {
		margin: 0;
		padding-top: 5px;
	}
	.search-and-filter .searchandfilter > ul > li> * {
		margin: 5px 0px 5px 10px;
	}
	.searchandfilter select.sf-input-select {
		padding: 5px;
	}
	.searchandfilter ul li input[type="submit"] {
		width: calc(100% - 20px);
		margin-bottom: 10px;
	}
}
/* Done styling tax filters */

/* Some CHOSEN JS styling */
.search-and-filter form {
  z-index: 999;
}
.chosen-choices a.search-choice-close {
  margin: 0 !important;
}
.chosen-choices .search-field input[type="text"] {
  width: 100% !important;
  padding: 4px !important;
  margin-bottom: 5px !important;
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  border: 1px solid #DDD !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  border: 1px solid #DDD !important;
}
.chosen-choices li.search-field {
  /* margin-bottom: 4px !important; */
  padding: 4px 0 0 0 !important;
  background: none !important;
}
.chosen-drop li {
  width: 100% !important;
  display: block !important;
}
