/* Plugin Name: Search and Filter Pro styling for Travelator */
/* This is the static CSS file */

/* EXPERIMENTALs !! */



/* Full page width and sidebar adjustments */
body.home.page #sidebar, body.blog #sidebar, body.archive #sidebar, body.single #sidebar {
  padding-top: 16px;
}
@media (min-width:1420px) {
	#content-layout {
	  width: 1400px;
	}
	#content-box {
	  width: 1050px !important;
	}
	.searchandfilter label {
	  min-width: calc((100% / 7) + 20px) !important;
	}
}

/* 2 columns homepage layout */
@media (min-width: 1320px) {
	div.post-halves {
	  width: calc(50% - 37px);
	  display: inline-block;
	  margin-bottom: 10px !important;
	  padding: 15px;
	  border: 1px solid #ddd;
	}
	div.post-halves[post-position="left"] {
	  float: left;
	}
	div.post-halves[post-position="right"] {
	  float: right;
	}
}
div.post-halves .st-format-standard-holder, div.post-halves .st-format-gallery-holder {
  position: relative;
}
div.post-halves .st-format-standard-holder a, div.post-halves .st-format-gallery-holder a, div.post-halves .st-format-gallery-holder .st-gallery {
  height: 206px;
  overflow: hidden;
}
div.post-halves .st-gallery ol li.st-gallery-tab-current {
  display: none;
}
div.post-halves h3.post-title {
  font-size: 1.2em !important;
  height: 42px;
  margin-left: 10px !important;
  text-align: left !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.post-halves .meta {
  font-size: 0.48em;
  margin: 5px 0 0 80px !important;
}
div.post-halves .meta .ico16 {
  margin-right: 10px;
}
div.post-halves .travelator-vezi-oferta {
  text-align: center;
  background-color: #96cd00;
}
div.post-halves .travelator-vezi-oferta a {
	color: white;
	display:inline-block;
	width:100%;
	height:100%;
}

/* Featured Articles Lite 3 */
div#last-posts-slider {
  background: #ebebeb;
  padding-top: 10px;
}
div#last-posts-slider .slider-wrapper {
  height: 50vh !important;
}
.default .nivo-caption {
  background: transparent;
  top: 20vh;
  width: 50%;
  height: fit-content;
  left: 50px;
}
.nivo-caption h2 {
  line-height: 1.6em;
}
.default .nivo-caption h2 a {
    color: rgb(42,61,75);
    background-color: white;
    border-bottom: none;
    padding: 2px 8px;
    font-size: 1.2em;
    font-weight: bold;
	text-transform: initial;
}
.nivo-controlNav {
  display: none;
}
.default .nivoSlider {
  background: transparent !important;
  margin-bottom: 0 !important;
  height: 100%;
}

/* Header stuff styling */
#header-layout {
  background-color: #2a3d4b;
}
div#header-holder-3 {
  background-color: rgb(42,61,75);
  position: relative;
}
@media (min-width: 1420px) {
div#header-holder-3 {
  width: 1400px;
  margin: 0 auto;
}
}
@media (min-width: 1320px) and (max-width: 1419px) {
div#header-holder-3 {
  width: 1200px;
  margin: 0 auto;
}
}
@media (min-width: 960px) and (max-width: 1319px) {
div#header-holder-3 {
  width: 935px;
  margin: 0 auto;
}
}
@media (min-width: 640px) and (max-width: 959px) {
div#header-holder-3 {
  width: 640px;
  margin: 0 auto;
}
}
/* Specific header elements .. */
div#logo {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px !important;
  margin-left: 0px;
  width: 360px;
}
div#logo h1 {
  padding: 0 !important;
}
div#tagline, div#logo {
  display: inline-block;
  vertical-align: bottom;
}
div#tagline {
  margin: auto auto 10px 20px;
  color: white;
}
div#head-search #form-head-search input[type="text"] {
	border-radius: 10px;
    padding: 5px;
}
/* New, Small Nav Header Menu */
div#main-menu, 
div#main-menu > div, 
div#main-menu > div > ul, 
div#main-menu > div > ul > li {
  display: inline-block;
    border: 0;
}
div#main-menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-25%, -15px);
}
#main-menu .menu-new-primary-container {
  line-height: normal;
}
#main-menu ul > li > a {
  padding: 0px 10px !important;
  color: white;
}
#main-menu ul > li.current-menu-item > a {
  color: yellow;
}
div#main-menu > div > ul > li > a::before {
  display: none;
}
@media (min-width:960px) {
	div#head-search {
		display: inline-block;
		right: 0;
		bottom: 20px;
		position: absolute;
	}
	div#main-menu > div > ul > li > a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 1.3em;
	}
}
/* AND for mobile header ...  */
@media (max-width:959px) {
	#logo {
		margin-left: 0px !important;
		width: auto !important
	}
}
@media (min-width:480px) AND (max-width:959px) {
	div#head-search {
		display: inline-block;
		right: 10px;
		bottom: 10px;
		position: absolute;
	}
	div#main-menu {
		left: 0;
		position: relative;
		transform: initial;
		margin: 10px 0;
	}
}
/* And for even smaller screens ... */
@media (max-width:479px)  {
	#head-search {
		display: block;
		bottom: 8px;
		position: relative;
		margin: 8px;
	}
	div#head-search #form-head-search input[type="text"] {
		width: calc(100% - 10px);
	}
	div#header-holder-3 {
		text-align: center;
	}
	div#main-menu {
		transform: none;
		margin: 10px auto;
		position: relative;
		left: initial;
	}
}

/* SEARCH AND FILTER PRO !! */
/* Hide the search box in drop-down lists for Select2 */
span.search-and-filter-title {
  margin: 10px 0 0 17px !important;
  font-weight: bold;
}
.select2-dropdown .select2-search.select2-search--dropdown {
    display: none;
}
.searchandfilter li h4 {
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  text-transform: none;
  letter-spacing: 0;
}
/* Make the container fit the lists */
.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: block;
	overflow: initial;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 0 0 5px;
}
.searchandfilter>ul>li label {
	height: auto;
}
/* Styling taxonomy filters */
.search-and-filter {
    background-color: white;
    margin: 10px 0 20px 0;
	border: 1px solid #ddd;
	padding-top: 8px;
}
.search-and-filter ul {
	margin: 0 0 0 12px;
}
.search-and-filter > .searchandfilter > ul > li {
	display: inline !important;
	margin: 0;
}
.searchandfilter > ul > li > label {
	border: 1px solid #ddd !important;
	border-radius: 8px;
}
.searchandfilter > ul > li > label > select {
	border: 0px solid #ddd !important;
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection {
	border: 0;
	display: table;
	width: calc(100% - 10px) !important;
	background-color: transparent;
}
.searchandfilter > ul > li > label > .select2 {
	width: 100% !important;
	/* max-width: calc(100% / 7) !important; */
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection > ul > li.select2-search > input.select2-search__field {
	position:absolute;
	background: none !important;
	margin: 1px 0;
}
.searchandfilter .select2-selection__rendered li.select2-selection__choice:nth-last-of-type(2) {
	margin: 0px;
}
.searchandfilter .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	/* background-color: #fbe9ee !important; */
}
.search-and-filter .searchandfilter > ul > li > * {
    margin: 15px 1px;
}
.searchandfilter ul li li {
  padding: 0;
}
.search-and-filter .select2-selection {
	border-radius: 0;
	height: 22px;
	min-height: 0;
}
.search-and-filter .select2-selection__rendered {
  margin: 0 3px;
  color: #888 !important;
  line-height: 18px !important;
}
.search-and-filter .select2-selection__arrow {
	display: none;
}
.searchandfilter>ul>li label {
	vertical-align: middle;
	font-size: 0.8em;
}
.searchandfilter label {
	/* width: calc((100% / 6) - 12px); */ /* FARA buton de reset */
	min-width: calc((100% / 7) + 6px); /* varianta CU buton de reset */
	display: inline-block !important;
	padding: 1px 0;
}
.searchandfilter li.sf-field-taxonomy-luna_an label {
  min-width: 138px;
  max-width: calc((100% / 7) + 15px);
}
.searchandfilter select.sf-input-select {
    width: 100%;
	min-width: initial !important;
}
.searchandfilter .sf-input-select option {
	background-color: white;
}
.searchandfilter ul li input[type="submit"] {
  padding: 4px 7px;
  border-radius: 8px;
  font-weight: normal;
  font-size: 12px;
}
.searchandfilter ul li input.search-filter-reset {
  font-weight: normal;
  margin-left: 3px;
}
/* combobox with select2 */
.select2-selection li.select2-selection__choice {
	height: 18px;
	line-height: 18px;
	margin: 0 !important;
}
/* end combo box with select2 */
div#content-box {
	padding-top: 5px !important;
}
#term {
    margin-left: 20px;
    margin-right: 20px;
}
/* ... and for mobiles .. */
@media (max-width: 1319px) {
	.searchandfilter label {
		width: calc(100% - 20px);
	}
	.search-and-filter ul {
		margin: 0;
		padding-top: 5px;
	}
	.search-and-filter .searchandfilter > ul > li> * {
		margin: 5px 0px 5px 10px;
	}
	.searchandfilter select.sf-input-select {
		padding: 5px;
	}
	.searchandfilter ul li input[type="submit"] {
		width: calc(100% - 20px);
		margin-bottom: 10px;
	}
	.searchandfilter li h4 {
		display: block;
		position: relative;
		margin-left: 12px !important;
	}
	.searchandfilter li.sf-field-taxonomy-luna_an label {
		max-width: 100%;
	}
	.searchandfilter ul li input.search-filter-reset {
		margin-left: 10px;
	}
	/* Hiding the filter 
	.search-and-filter form ul {
		display: none;
	}
	.search-and-filter:hover form ul {
		display: block;
	}
	.search-and-filter:before {
		content: '\25bc';
		margin-left: 10px;
		font-size: 16px;
		font-weight: bold;
	}
	.search-and-filter:hover:before {
		content: '\25b2';
		margin-left: 10px;
		font-size: 16px;
		font-weight: bold;
	} */
	.search-and-filter {
		padding-top: 0px;
	}
	div.post-template {
	  margin-bottom: 20px !important;
	}
	div.post-halves .st-format-standard-holder a {
		  display: initial;
	}
}
/* Done styling tax filters */

/* Some CHOSEN JS styling */
.search-and-filter form {
  z-index: 999;
}
.chosen-choices a.search-choice-close {
  margin: 0 !important;
}
.chosen-choices .search-field input[type="text"] {
  width: 100% !important;
  padding: 4px !important;
  margin-bottom: 5px !important;
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  border: 1px solid #DDD !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  border: 1px solid #DDD !important;
}
.chosen-choices li.search-field {
  /* margin-bottom: 4px !important; */
  padding: 4px 0 0 0 !important;
  background: none !important;
}
.chosen-drop li {
  width: 100% !important;
  display: block !important;
}
